<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Corra_Integration::int_config" title="Integrations Config" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Corra_Integration::corra" title="Corra" sortOrder="51">
                    <resource id="Corra_Integration::log" title="Logs" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
