<?xml version="1.0"?>
<!--
/**
 * Copyright © CORRA. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="corraintegration" frontName="corraint">
            <module name="Corra_Integration" />
        </route>
    </router>
</config>